{% extends 'layout.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: white !important;">
    <li class="breadcrumb-item"><a href="{{ url_for('profile') }}">Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
  </ol>
</nav>

<div class="container">
  <h1>Edit Profile</h1>
  <!-- Pop up messages -->
    {% if success_mg %}
    <div class="alert alert-success" role="alert">
      {{ success_mg }}
    </div>
  {% endif %}

  {% if existing_pw_msg %}
    <div class="alert alert-danger" role="alert">
      {{ existing_pw_msg }}
    </div>
  {% endif %}

  {% if incorrect_pw_msg %}
    <div class="alert alert-danger" role="alert">
      {{ incorrect_pw_msg }}
    </div>
  {% endif %}

    <form method="POST" action="{{ url_for('change_password') }}">
    <div class="form-group">
      <label for="current_password">Current password:</label>
      <input type="password" class="form-control" id="current_password" name="current_password" value="" required>
    </div>
    <div class="form-group">
      <label for="new_password">New password:</label>
      <input type="password" class="form-control" id="new_password" name="new_password" value="" required>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>
{% endblock %}

<!-- Link to CSS file -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">